.variation-gallery-simplified-wrapper .variation-gallery-simplified-inside {
	border-top: 1px solid #c3c4c7;
}

.variation-gallery-simplified-wrapper .variation-gallery-simplified-postbox {
	position: relative;
	min-width: 255px;
	border: 1px solid #c3c4c7;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	background: #fff;
	padding: 0;
	line-height: 1;
}

.variation-gallery-simplified-wrapper .variation-gallery-simplified-postbox .postbox-header {
	border: none;
}

.variation-gallery-simplified-wrapper .variation-gallery-simplified-postbox.closed .variation-gallery-simplified-inside {
	display: none;
}

.variation-gallery-simplified-wrapper .variation-gallery-simplified-postbox.closed .toggle-indicator::before {
	content: "\f140";
}

.variation-gallery-simplified-wrapper .handle-div {
	width: 36px;
	height: 36px;
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	cursor: pointer;
}

.variation-gallery-simplified-wrapper .variation-gallery-simplified-image-container {
	padding: 5px 10px;
}

.variation-gallery-simplified-wrapper .variation-gallery-simplified-images {
	*zoom: 1;
	margin: 0;
  /*display: flex;
  flex-direction: row;
  flex-wrap: wrap;*/
}

.variation-gallery-simplified-wrapper .variation-gallery-simplified-images::before, .variation-gallery-simplified-wrapper .variation-gallery-simplified-images::after {
	content: " ";
	display: table;
}

.variation-gallery-simplified-wrapper .variation-gallery-simplified-images::after {
	clear: both;
}

.variation-gallery-simplified-wrapper .variation-gallery-simplified-images li {
	float: left;
	list-style: none;
	position: relative;
	cursor: move;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 3px;
	background: none;
	border-radius: 2px;
	border: 3px solid transparent;
}

.variation-gallery-simplified-wrapper .variation-gallery-simplified-images li.variation-gallery-simplified-sortable-placeholder {
	position: relative;
	border: 3px dashed #DDDDDD;
	/*margin: 0;*/
	background: #F7F7F7;
}

.variation-gallery-simplified-wrapper .variation-gallery-simplified-images li.variation-gallery-simplified-sortable-placeholder::after {
	font-family: "Dashicons";
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	text-indent: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	content: "\f161";
	font-size: 2.618em;
	line-height: 80px;
	color: #DDDDDD;
}

.variation-gallery-simplified-wrapper .variation-gallery-simplified-images li img {
	width: 80px;
	display: block;
	height: auto;
	border: 1px solid #D5D5D5;
}

.variation-gallery-simplified-wrapper .variation-gallery-simplified-images li .delete {
	display: none;
	color: #999;
	background: #fff;
	position: absolute;
	right: -5px;
	top: -5px;
	z-index: 1;
	text-decoration: none;
	border-radius: 100%;
}

.variation-gallery-simplified-wrapper .variation-gallery-simplified-images li:hover .delete {
	display: block;
}

.variation-gallery-simplified-wrapper .add-variation-gallery-simplified-image-wrapper {
	display: block;
	padding: 0 13px 10px 13px;
}